<script setup lang="ts">
import { mdiAccount, mdiAccountSchool, mdiFacebook, mdiCellphone, mdiInstagram, mdiFood, mdiFormatColorFill } from '@mdi/js';
</script>

<template>
    <div class="header">
        <h1><v-icon :icon="mdiAccount" />MyProflie</h1>
    </div>
    <v-container class="background">
        <v-row>
            <v-col>
                <v-avatar size="300">
                    <v-img cover src="IMG_9952.jpg"></v-img>
                </v-avatar>
                <div style="font-size: 20px;">
                    <p>สกลธรรม พิสุทธิชัยกุล อายุ19ปี</p>
                    <p>ชื่อเล่น กร</p>
                    <p>เกิด17 กุมภาพันธ์ พ.ศ.2546</p>
                </div>
            </v-col>
            <v-col>
                <div class="study"><v-icon :icon="mdiAccountSchool" />
                    ประวัติการศึกษา
                </div>
                <v-carousel style="height: 300px; width: 700px;" show-arrows="hover" delimiter-icon="hover"
                    hide-delimiter-background>
                    <v-carousel-item
                        src="wuttiwitaya.png">อนุบาล1-ประถมศึกษาปีที่6จบการศึกษาที่<br>โรงเรียนวุฒิวิทยา</v-carousel-item>
                    <v-carousel-item
                        src="images-removebg-preview.png">มัธยม1-มัธยม6จบการศึกษาที่<br>โรงเรียนชลราษฏรอำรุง</v-carousel-item>
                </v-carousel>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <div>
                    <h1>สิ่งที่ชอบ</h1>
                    <p><v-icon :icon="mdiFood" /> อาหารที่ชอบ:ข้าวผัด</p>
                    <p><v-icon :icon="mdiFormatColorFill" /> สีที่ชอบ:สีส้ม</p>
                </div>
            </v-col>
        </v-row>
        <v-row>
            <v-col>
                <div>
                    <h1>ข้อมูลติดต่อ</h1>
                    <p><v-icon :icon="mdiFacebook" />sakontam pisuttichaikul</p>
                    <p><v-icon :icon="mdiInstagram" />korn_skt</p>
                    <p><v-icon :icon="mdiCellphone" />0810033868</p>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>

<style>
.study {
    text-align: center;
    height: 100px;
    width: 50%;
    font-size: 50px;
}

.background {
    background-color: #F5EED8;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
</style>